@import "./category.css";

.category-section {
    display: flex;
    justify-content: center;
}

.category-container {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 1079px;
}

.category-container-title {
    margin: 3rem 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}